<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

    $CSS_LINKS$

    <title>$DOCUMENT_TITLE$</title>
</head>

<body>

    <nav>
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <!-- Insert favicon/logo here -->
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">JavaScript for Dummies</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Variables</a>
                        <a class="navbar-item">Data Types</a>
                        <a class="navbar-item">Type Coercion</a>
                        <a class="navbar-item">Functions</a>
                        <a class="navbar-item">Callback Functions</a>
                        <a class="navbar-item">Loop Methods & Side Effects</a>
                        <a class="navbar-item">Time & Date</a>
                        <a class="navbar-item">Fetch</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Import/Export for Dummies</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Import & Export in HTML</a>
                        <a class="navbar-item">Import & Export in Node.js</a>
                        <a class="navbar-item">CommonJS vs. ESmodules</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Express for Dummies</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Node.js, npm & nodemon</a>
                        <a class="navbar-item">Node Modules</a>
                        <a class="navbar-item">Express</a>
                        <a class="navbar-item">package.json</a>
                        <a class="navbar-item">Creating a Server with Express</a>
                        <a class="navbar-item">GET Requests in Express</a>
                        <a class="navbar-item">POST Requests in Express</a>
                        <a class="navbar-item">XSS & how to avoid it</a>
                        <a class="navbar-item">Serving Static Files in Express</a>
                        <a class="navbar-item">Redirection</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">REST API for Dummies</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item is-selected">REST API Verbs</a>
                        <a class="navbar-item">REST Conventions</a>
                        <a class="navbar-item">REST API Tables</a>
                        <a class="navbar-item">Anatomy of an URL</a>
                    </div>
                </div>

                <a class="navbar-item" href="/about">About</a>

                <a class="navbar-item" href="/contact">Contact</a>
            </div>
    </nav>

    <main>