<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    $CSS_LINKS$

    <link rel="icon" type="image/png" href="/assets/images/dunce-hat.png">

    <title>$DOCUMENT_TITLE$</title>
</head>

<body>

    <nav>
        <div class="navbar-brand">
            <div>
                <a href="/"><img class="icon" id="logo" src="../assets/images/bunny_of_shame.png"
                        alt="The Bunny of Shame that appears on your head in Final Fantasy XIV when you make a faulty mudra input. Poof!"></a>
            </div>
        </div>

        <div class="level is-mobile">
            <div class="level-item dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
                        <span>JavaScript for
                            Dummies</span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu1">
                    <div class="dropdown-content">
                        <button class="dropdown-item" id="variables-navigation">Variables</button>
                        <button class="dropdown-item" id="data-types-navigation">Data Types</button>
                        <button class="dropdown-item" id="type-coercion-navigation">Type Coercion</button>
                        <button class="dropdown-item" id="functions-navigation">Functions</button>
                        <button class="dropdown-item" id="loop-methods-and-side-effects-navigation">Loop Methods & Side Effects</button>
                        <button class="dropdown-item" id="date-navigation">Date</button>
                        <button class="dropdown-item" id="fetch-navigation">Fetch</button>
                    </div>
                </div>
            </div>

            <div class="level-item dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">Node and Express for
                        Dummies</button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3">
                    <div class="dropdown-content">
                        <a class="dropdown-item" id="nodejs-npm-and-nodemon-navigation">Node.js, npm & nodemon</a>
                        <a class="dropdown-item" id="import-and-export-navigation">Import & Export</a>
                        <a class="dropdown-item" id="package-json-navigation">package.json</a>
                        <a class="dropdown-item" id="creating-a-server-with-express-navigation">Creating a Server with Express</a>
                        <a class="dropdown-item" id="xss-navigation">XSS & how to avoid it</a>
                        <a class="dropdown-item" id="serving-static-files-with-express-navigation">Serving Static Files with Express</a>
                        <a class="dropdown-item" id="redirection-navigation">Redirection</a>
                        <a class="dropdown-item" id="routers-navigation">Routers</a>
                        <a class="dropdown-item" id="csr-vs-ssr-navigation">CSR vs. SSR</a>
                    </div>
                </div>
            </div>
            <div class="level-item dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">REST API for
                        Dummies</button>
                </div>
                <div class="level-item has-dropdown is-hoverable">

                    <div class="dropdown-menu" id="dropdown-menu4">
                        <div class="dropdown-content">
                            <a class="dropdown-item" id="rest-api-verbs-navigation">REST API Verbs</a>
                            <a class="dropdown-item" id="rest-conventions-navigation">REST Conventions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <main>
        <section class="section">
            <div class="container content">